{% extends 'salary/start.html' %}

{% block content %}


<h2>Список работников для создания таблицы повышения зарплаты</h2>

<br>

{% for i in worker_list %}

<h3>ФИО: {{i.fio}} || специальность: {{ i.speciality }} || Зарплата: {{ i.current_salary }} || Статус: {{ i.status_work.value }}</h3>

<p>
<a href="{{ url_for('create_increase_salary_get', id=i.id)  }}"><button>Добавить повышение</button></a>
||
<a href="{{ url_for('modify_increase_salary_get', id=i.id)  }}"><button>Редактировать повышение</button></a> 
</p>

<p>_________________________________________________________________________________________</p>

{% endfor %}



{% endblock %}



