{% extends 'salary/start.html' %}

{% block content %}


<h2>Список пользователей для создания работников</h2>

<br>

{% for i in user_list %}

<h3>ФИО: {{i.name}} || email: {{ i.email }}</h3>

<p>
<a href="{{ url_for('create_worker_get', email=i.email)  }}"><button>Добавить работника</button></a>
||
<a href="{{ url_for('modify_worker_get', email=i.email)  }}"><button>Редактировать работника</button></a>
</p>

<p>_________________________________________________________________________________________</p>

{% endfor %}



{% endblock %}



