{% extends 'salary/start.html' %}


{% block content %}


<h1>Что-то пошло не так! Попробуйте еще раз!</h1>
<br>
<h3>Текст ошибки:</h3>
<h3>{{ error }}</h3>
<br>

<a href="{{ url_for('search_user_get') }}" ><h3>Вернуться к списку</h3></a>


{% endblock %}