{% extends 'salary/start.html' %}


{% block content %}

{% for i in salary_list %}

<h2> ФИО работника: {{ i.worker.fio }} </h2>
<h3>|| Текущая зарплата: {{ i.worker.current_salary }} || Дата повышения: {{ i.increase_date }} || Процент повышения зарплаты: {{ i.increase_size }}%</h3>
<h3>|| Должность: {{ i.worker.speciality }} || Статус работника: {{ i.worker.status_work.value }}</h3>
<p>_________________________________________________________________________________________</p>
{% endfor %}


{% endblock %}