{% extends 'salary/start.html' %}


{% block content %}


<h1>Данные о повышении еще не созданы!</h1>

<br>

<a href="{{ url_for('search_worker_get') }}" ><h3>Вернуться к списку работников</h3></a>


{% endblock %}