
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Просмотр зарплаты</title>
	
	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/main.css') }}">


</head>
<body>

<!--панель сверху - шапка. -->
<header>
	<img src="{{ url_for('static', path='images/i.jpg') }}" alt="Лого">
	
	
<div class="cap">

	

{% if check %}
	<h1>Здравствуйте {{ user_name }}</h1>
	<a href="{{ url_for('logout_user') }}"><p>Выйти</p></a>
	<a href="{{ url_for('become_superuser_get') }}"><p>Стать суперпользователем</p></a>

{% endif %}

	<br><br>
	
	<br><br>
	
{% if check != True %}
	<a href="{{ url_for('auth_get') }}"><h3>Войти</h3></a>
	
	<a href="{{ url_for('registration_get') }}"><h3>Регистрация</h3></a>
{% endif %}

</div>

</header>


	<aside>
		
		<br><br><br><br><br><br><br><br><br><br>
		
		<br>
		
	<a href="{{ url_for('home') }}"><h3>На главную</h3></a>

	{% if check %}

	<a href="{{ url_for('get_salary') }}"><h3>Просмотр зарплаты</h3></a>

	{% if is_superuser %}
	<a href="{{ url_for('search_user_get') }}"><h3>Создание работников</h3></a>

	<a href="{{ url_for('search_worker_get') }}"><h3>Создание повышений зарплаты</h3></a>
	{% endif %}

	{% endif %}

	</aside>

<main>



{% block content %}

<br>

<h1>Просмотр зарплаты</h1>


	{% endblock %}


</main>

<div class="footer">
	
	

</div>


	
</body>
</html>